
   .rbs-form{

   width: 80%;
   margin: 135px 70px;   
     padding: 5vh 5vh 10vh;
     background: #ffffff;
    
     border-radius: 2rem;
    
   }

   h4{
    margin-bottom: 30px;
    text-align: center;
   }

 
   .btn {
     width: 100%;
     margin-top: 10px;
   }