<rbs-header></rbs-header>
<table-user></table-user>

<div class="row">
    <div class="col-lg-6">
      <nb-card>
        <nb-card-header>Gender classification</nb-card-header>
        <nb-card-body>
            <gender-chart></gender-chart>
        </nb-card-body>
      </nb-card>
    </div>
    <div class="col-lg-6">
      <nb-card>
        <nb-card-header>Users status</nb-card-header>
        <nb-card-body>
            <status-chart></status-chart>
        </nb-card-body>
      </nb-card>
    </div>