nb-card {
  margin-top: -35px;
}

.rbs-header {
   display: flex;
   justify-content: space-between;
}
  .rbs-logo img{
  height: 40px;
  }
  .rbs-user{
  display: flex;
  }

  .rbs-user button {
      margin-left: 10px;
  }